$colorPrincipal: #653307;
$colorTransparente: transparent;
$colorFondo: rgb(225, 222, 222);

$colorAfter: #281402;


//Sombras - Index
$boxShadow: 0px -5px 20px -2px rgb(34 31 32 / 50%);

//Sombras - Reserva
$boxShadowR: 0px -5px 20px -10px rgb(34 31 32 / 50%);

//Boton reserva
$colorReserva: #705f5090;
$colorHover: #705f50;
$colorLetras: beige;
$colorReserva2: #5a3d24;

// Focus - Reserva
$colorFocusR: #efefef3f;